<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
      
<hibernate-configuration>
<session-factory>
	<property name="hibernate.connection.driver.class">com.mysql.jdbc.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/elevatordb</property>
	<property name="hibernate.connection.username">ndonnelly</property>
	<property name="hibernate.connection.password">13212223</property>
	<property name="hibernate.hbm2ddl.auto">update</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
	<property name="show_sql">true</property>
	
	<mapping class="project.beta.model.Patient"/>
	<mapping class="project.beta.model.PersonalDetailsPatient"/>
	<mapping class="project.beta.model.PatientHistory"/>
	<mapping class="project.beta.model.MedHistory"/>
	<mapping class="project.beta.model.DrugHistory"/>
	<mapping class="project.beta.model.NeuroHistory"/>
	<mapping class="project.beta.model.PsychHisotry"/>
	<mapping class="project.beta.model.Concerns"/>
	<mapping class="project.beta.model.EventsActivities"/>
	<mapping class="project.beta.model.LivingSit"/>
	<mapping class="project.beta.model.Lifestyle"/>
	<mapping class="project.beta.model.TestBattery"/>
	<mapping class="project.beta.model.Analysis"/>
	<mapping class="project.beta.model.Activity"/>
</session-factory>
</hibernate-configuration>