@CHARSET "ISO-8859-1";

h2 {
	color: white;
}

#content {
	margin-top:	12px;
	margin-left: 3%;
	font-weight:bold;
	font-size: 18px;
}

#content #open_message {
	margin-bottom: 8px;
	
}

#content a{
	display: block;
	margin-bottom: 4px;
}

form.small-form {
	margin-left:0px;
	padding-left: 0em;
	padding-top: 0.5em;
}

form.small-form div#button {
	margin-left: 6.5%;
}